
.row > * {
    border:1px solid black;
    border-left: none;
    border-right:none;
    margin-left: 0;
    margin-right: 0;


}
.row {
    box-sizing: border-box;
    --bs-gutter-x: none;
}
.row.imagetext > * {
    padding-left:5vh;
}

.nyx{
    width:100%;
    padding:5vh;
}


.bigImage{
    width: 100%



}


