html {
    height: 100vh;
  }
  
  body {
     background-image:url("background.jpg") ;
     box-sizing: border-box ;
     margin: 0;
     /*margin-bottom: 170px; */    /*space for footer*/ 
     height: 100vh;
  }

/*** FONTS ***/ 

h1 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top:0;  
}


.special {
 font-family: Helvetica, sans-serif;
 line-height: 50%;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 3em;
    text-align: left;
    font-style: normal;
    font-weight: 550;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;

}

p {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 170%; 
    text-align: left;
    margin-top: 15px;
}

.bildtext {
  font-size: 0.9em;
  font-weight: 100;
  background-color: white;
}



.parallax-text {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 6em;
  font-weight: 100;
  padding-top: 140px;
  transition: 2s;
}

.parallax-text:hover, .parallax-text:active {
  font-size: 7em;
  font-weight: 300;
}

/*** LINKS ***/
@property --offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

a {
    color: black;
    font-family: Helvetica, sans-serif;
    text-underline-offset: var(--offset, -0.8em);
    --offset: 0.8em;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: --offset 400ms;
    }

  a:hover,
  a:focus {
    --offset: 0.4em;
    text-decoration-color: black;
  }




  /*** FOOTER ***/

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 3.5rem;  
      /* Footer height */
  }

  .footer-element {           /* Design for Textelements in Footer Layout */
    font-size: 0.8em;
    display: inline;
    padding-left:1em;
   
  }

 /* .bg-info text-center text-lg-start fixed-bottom {
    background-color: brown;
   }*/


  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;            /* Footer height */
    background-color: white;
    text-align: center;
    padding-top: 1.1em; 

  }

  

