html {
  height: 100vh;
}

body {
   background-image:url("background.jpg") ;
   box-sizing: border-box ;
   margin: 0;
   height: 100vh;

}

/*** BANNER ***/
@media only screen and (max-width: 600px) {
  .banner{

    visibility: hidden;
  }
  .banner:hover{
    visibility: hidden;
  }
  .ban{
    visibility: hidden;
  }
  .ban:hover{
    visibility: hidden;
  }
  .bannerList{
    visibility: hidden;
  }
  
}

.banner{
  
  position:fixed;
  box-sizing: border-box;  
  background-color: black;
  float: left;
  width: 10px;
  height: 100vh;
  border-left:2px solid;  
  transition-duration: 0.4s;
  z-index: 1;

}

.banner:hover   {
  
  box-sizing: border-box;   
  transition-duration: 1s;
  background-color: #B4C4B2;
  width: 20vh;
  height: 100vh;
  border-left:2px solid;
  margin-right:30px;   
  z-index: 1;
}

/* .ban BANNER SLIDING EFFEKT  */

.ban  {
  position:relative;
  box-sizing: border-box;  
  background-color: transparent;
  width: 1vh;
  height: 100vh; 
  float: left;
  transition-duration: 0.7s;
    
}
  .ban:hover {
    position: relative;
   box-sizing: border-box;   
   background-color: transparent;
   transition-duration: 1s;
   width: 18vh;
   height: 100vh;
   margin-right: 30px; 

}


.bannerList {
  
  margin-left: -30px;
}


/*** IMAGE ***/ 

.image {
  max-width: 100%;
  
}

.image-full {
    /* Set rules to fill background */
    min-height: auto;
    min-width: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0
}

/**** FLOATING IMAGES ***/ 

.image-float {
  position: inherit;
  max-width: 50%;
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 200px;
    margin-top: -90px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

/*** FONTS ***/ 

h1 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top:0;
    
}


.special {
 font-family: Helvetica, sans-serif;
 line-height: 50%;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 3em;
    text-align: left;
    font-style: normal;
    font-weight: 500;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 170%; 
    text-align: left;
}

.bildtext {
  font-size: 0.9em;
  font-weight: 100;
  background-color: white;

  
}

/*** LINKS ***/

  a {
    color: black;
    font-family: Helvetica, sans-serif;
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0);
    transition: --offset 400ms, text-decoration-color 400ms;
  }
  
  a:hover,
  a:focus {
    --offset: 0.4em;
    text-decoration-color: black;
  }

/*** NAV-BAR ***/


  .nav {
  
   line-height: 2em;
   margin-left:2em;
  }

  .nav-link {
    
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
    height: 3em;
    border: none;
    cursor: pointer;
    list-style-type: none;
  }


  /*** SECTIONS ***/

  .section-fullscreen
   {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom:50px;
    margin: auto;
    width: 500px;
    text-align: left; 
}

.section-tight {
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom:30px;
  margin: auto;
  width: 80%;
  text-align: left; 
  display: inline-block;
}

/*** ACCORDION ***/

.accordion {
    background-color: white;
    border: 0;
    padding: 10px;
    width: 100%;

    font-family: Helvetica, sans-serif;
    font-size: 3em;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    border-bottom: 1px solid white;
  }

  .active, .accordion:hover {
    border-bottom: 1px solid black;
    transition-duration: 1s;
}
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    
  }


/*** Registrierung ***/

.container{
  box-sizing: border-box;
  background: white;
  border-radius: 2%;
  margin:auto;
  margin-top: 8em;
  width: 40%;
  height: 100%;
}

.register {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom:1em;
  font-size: 1.5em;
  border:1px solid transparent;
  transition-duration: 1s;
}

input{
  width: 100%;
  height: 2.5em;
  border: none ;
  border-bottom: 2px solid grey;
  font-size: 0.8em;
}



.register:hover{
  border:1px solid gainsboro;
  transition-duration: 1s;
}

.register input[type=text]:focus {
  outline:none;
}

.register input[type=email]:focus {
  outline:none;
}

.register input[type=number]:focus {
  outline:none;
}

 #choose {
  background-color: white;

}





/***PARALLAX***/

.parallax-one {

  background-image: url("images/bild-04-keepmewild-noBG.png");

  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgage {
    transition: opacity 400ms ease-in-out;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: opacity;
  }


  /*** LOGIN / REGISTER NAV-BAR ***/

  .nav-container {
    float: right;
    
  }

  .login-container input[type=text] {
    padding: 0px;
    margin-top: 8px;
    font-size: 0.7em;
    border: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid rgb(132, 149, 132);
  }

  .login-container button, .register-container button {
    color: rgb(132, 149, 132);
    background-color: white;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 7px;
    margin-top: 15px; 
    font-size: 0.7em;
  }

  .register-container button {
    color: white;
    background-color:rgb(132, 149, 132);
    font-size: 0.6em;
  }
  



  /*** FOOTER ***/

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

  .footer-element {           /* Text in Footer Layout */
    font-size: 0.8em;
    display: inline;
    padding-left:1em;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    background-color: white;
    text-align: center; 
    padding-top: 1em;

  }


 
  /*** GRID GALLERY ***/ 


  @media only screen and (max-width: 700px) {       /* FOR MOBILE SCREENS */ 
    .grid {
      display: grid;
      grid-template-rows: 
        repeat(4, 180px);
      grid-template-columns: 
        repeat(2, 1fr);
      grid-gap: 7px;
    }

.item:nth-child(1) {
  grid-row: 1 / 3;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(1):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(2):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(3):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(4):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(5):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
  }

  @media only screen and (min-width: 701px)      /* FOR BIGGER SCREENS */ 
  {
  .grid {
    display: grid;
    grid-template-rows: 
      repeat(4, 180px);
    grid-template-columns: 
      repeat(3, 1fr);
    grid-gap: 25px;
  }


.item:nth-child(1) {
  grid-row: 1 / 4;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(1):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(2):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(3):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(4):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  transform: scale(1);
  transition-duration: 1s;
}
.item:nth-child(5):hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
}

  /* styling code */
  
  .grid {
    margin:20px auto;
    max-width:1000px;
  
  }
  .grid > .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 /** Navabar Phone**/

 @media only screen and (max-width: 700px) {
  
  h1 {
    display:inline-block;
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-left: 10px;
    margin-bottom:0em;
    margin-top:0;    
}

.special {
 font-family: Helvetica, sans-serif;
 line-height: 50%;
}

.line{
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
}


.button-menu {
display: inline-block;
float: right;
margin-right:0.25em;
margin-top:0.25em;
background-color: transparent;
border-color:transparent;

}
.button-menu:hover{
 transform:rotate(-180deg);
  transition-duration: 0.5s;
}

.modal-body{
  box-sizing: border-box;
  padding:10vh;
  transition-timing-function: ease-in-out;
}

.nav-bar-phone{
  
}

.container-phone {
 box-sizing: border-box;
 font-size:2em;
font-weight: bold;

}

.modal-title{
  font-size:2em;
  font-weight: bold;
  margin:auto;
}
.nav-link{
  margin:auto;
}

.container {
  width: 95%;
  margin-top:1em;
}
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 95%;
    margin-top:1em;
  }
  


.line{
  visibility: hidden;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  }

  .button-menu {
    visibility: hidden;
float:right;
margin-right:0.25em;
margin-top:0.25em;
  }
  
}





