html {
  height: 100vh;
}

body {
   background-image:url("background.jpg") ;
   box-sizing: border-box ;
   margin: 0;
   height: 100vh;

}

/*** BANNER ***/

.banner{
  position:fixed;
  box-sizing: border-box;  
  background-color: black;
  float: left;
  width: 10px;
  height: 100%;
  border-left:2px solid;
 
  
  
}
.banner:hover  {
   box-sizing: border-box;   
   transition: 1s;
   background-color: #B4C4B2;
   width: 130px;
   height: 100%;
   border-left:2px solid;
   margin-right:30px; 
   
    
}

.bannerList {
  margin-left: -30px;
}


/*** FONTS ***/ 

h1 {
    
    
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top:0;
    
}

.special {
 font-family: Helvetica, sans-serif;
 line-height: 50%;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 3em;
    text-align: left;
    font-style: normal;
    font-weight: 500;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 170%; 
    text-align: left;
}

.bildtext {
  font-size: 0.9em;
  font-weight: 100;
  background-color: transparent;
}



/*** LINKS ***/

  a {
    color: black;
    font-family: Helvetica, sans-serif;
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0);
    transition: --offset 400ms, text-decoration-color 400ms;
  }
  
  a:hover,
  a:focus {
    --offset: 0.4em;
    text-decoration-color: black;
  }

/*** NAV-BAR ***/
  .nav {
   line-height: 2em;
  }

  .nav-link {
    
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    height: 3em;
    border: none;
    cursor: pointer;
    list-style-type: none;
  }
  
  

  /*** SECTIONS ***/

  .section-eins {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom:50px;
    margin: auto;
    width: 500px;
    text-align: left; 
}

.section-zwei {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom:50px;
  margin: auto;
  width: 80%;
  text-align: left; 
}

/*** ACCORDION ***/

.accordion {
    background-color: white;
    border: 0;
    padding: 10px;
    width: 100%;

    font-family: Helvetica, sans-serif;
    font-size: 3em;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    border-bottom: 1px solid white;
  }

  .active, .accordion:hover {
    border-bottom: 1px solid black;
    transition: 1s;
}
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }


  



/*** Registrierung ***/

.container{
  box-sizing: border-box;
  background: white;
  
  border-radius: 2%;
  margin:auto;
  margin-top: 8em;
  width: 40%;
  height: 100%;
}

.register {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom:1em;
  font-size: 1.5em;
}

input{
  width: 100%;
  height: 2.5em;
  border: none ;
  border-bottom: 2px solid grey;
  font-size: 0.8em;
}


/***PARALLAX***/

.parallax-one {

  background-image: url("bild-04-white.png");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgage {
transition: opacity 400ms ease-in-out;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: opacity;
  }


  /*** LOGIN / REGISTER NAV-BAR ***/

  .nav-container {
    float: right;
    
  }

  .login-container input[type=text] {
    padding: 0px;
    margin-top: 8px;
    font-size: 0.7em;
    border: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid rgb(132, 149, 132);
  }

  .login-container button, .register-container button {
    color: rgb(132, 149, 132);
    background-color: white;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 7px;
    margin-top: 15px; 
    font-size: 0.7em;
  }

  .register-container button {
    color: white;
    background-color:rgb(132, 149, 132);
    font-size: 0.6em;
  }



  /*** FOOTER ***/

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

  .footer-element {           /* Text in Footer Layout */
    font-size: 0.8em;
    display: inline;
    padding-left:1em;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    background-color: white;
    text-align: center; 
    padding-top: 1em;

  }

  
