<nav>
  <div class="ban">
    <div class="banner">
      <a href="homepage.html"
      ><img class="nav-link" height="50px" src="images/logo-gif.gif"
      /></a>
      <ul class="bannerList">
        </li>
        <li class="nav-link">
          <a class="nav" href="homepage.html">Tofu</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="shop.html">Shop</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="ueber-tofu.html">Über&nbsp;Tofu</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="Warenkorb.html"><div id="Warenkorb" style="display: none">Warenkorb</div></a>
        </li>
        <li class="nav-link">
          <a class="nav" href="Dashboard.html"><div id="dashboard" style="display:none">Dashboard</div></a>
        </li>
        <li class="nav-link"><div id="userWelcome" style="display: none"></div>

        <li class="nav-link">
          <div class="nav-container">
            <div class="login-container">
              <form
                id="loginForm"
                action="http://localhost:8080/user/login"
                method="post"
              >
                <input
                  type="email"
                  placeholder="Email"
                  name="email"
                  id="emailLogin"
                />
                <input
                  type="password"
                  placeholder="Passwort"
                  name="password"
                  id="passwordLogin"
                />
                <button type="submit">Login</button>
              </form>
              <button id="logoutButton" style="display: none">Logout</button>
            </div>
            <div class="register-container">
              <button id="registrationButton">Registrierung</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="./components/navbar/tokenLogin.js"></script>
<script src="./components/navbar/postCart.js"></script>

<script>
    document
        .getElementById("registrationButton")
        .addEventListener("click", function () {
            window.location.href = "Anmeldeformular.html";
        });
</script>
