<button
  type="button"
  class="button-menu"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">TOFU</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="nav-bar-phone">
          <a href="homepage.html">
            <img class="nav-link" height="50px" src="images/logo-gif.gif"
            /></a>
        </div>
        <div class="container-phone">
          <div class="nav-phone">
            <a href="homepage.html">Gallerie</a>
          </div>
          <div class="nav-phone">
            <a href="shop.html">Shop</a>
          </div>
          <div class="nav-phone">
            <a href="ueber-tofu.html">Über&nbsp;Tofu</a>
          </div>
          <div class="nav-phone">
            <a href="Warenkorb.html">Warenkorb</a>
          </div>
          <div class="nav-phone">
            <a href="Dashboard.html"><div id="dashboardPhone" style="display:none">Dashboard</div></a>
          </div>
          <div class="notRight">
            <li class="nav-link">
              <div class="nav-container">
                <div class="login-container">
                  <form
                    id="loginFo"
                    action="http://localhost:8080/user/login"
                    method="post"
                  >
                    <input
                      type="email"
                      placeholder="Email"
                      name="email"
                      id="emailLog"
                    />
                    <input
                      type="password"
                      placeholder="Passwort"
                      name="password"
                      id="passwordLog"
                    />
                    <button type="submit">Login</button>
                  </form>
                  <button id="logoutBut" style="display: none">Logout</button>
                </div>
                <div class="register-container">
                  <button id="registrationBut">Registrierung</button>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./components/navbar/tokenLoginPhone.js"></script>
<script src="./components/navbar/postCart.js"></script>
<script>
    document
        .getElementById("registrationButton")
        .addEventListener("click", function () {
            window.location.href = "Anmeldeformular.html";
        });
</script>
