<nav>
  <div class="ban">
    <div class="banner">
      <a href="homepage.html"
        ><img class="nav-link" height="50px" src="images/logo-gif.gif"
      /></a>
      <ul class="bannerList">
        <li class="nav-link">
          <a class="nav" href="homepage.html">Tofu</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="shop.html">Shop</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="ueber-tofu.html">Über&nbsp;Tofu</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="Warenkorb.html">Warenkorb</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="Dashboard.html">Dashboard</a>
        </li>
        <li class="nav-link">
          <div class="nav-container">
            <div class="login-container">
              <form
                id="loginForm"
                action="http://localhost:8080/user/login"
                method="post"
              >
                <input
                  type="email"
                  placeholder="Email"
                  name="email"
                  id="emailLogin"
                />
                <input
                  type="password"
                  placeholder="Passwort"
                  name="password"
                  id="passwordLogin"
                />
                <button type="submit">Login</button>
              </form>
              <button id="logoutButton">Logout</button>
            </div>
            <div class="register-container">
              <button id="registrationButton">Registrierung</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>



$(document).ready(function () {

  // Überprüfen, ob der Benutzer angemeldet ist -> wenn die Seite geladen wird
  if (document.cookie.indexOf("loggedIn=true") !== -1) {
    console.log("Benutzer ist angemeldet");

  } else {
    console.log("Benutzer ist nicht angemeldet");
  }

    /////////////////////////////////////////////////////////////////////////
    ///////////////////// Anmeldung, Abmeldung, ETC /////////////////////
    /////////////////////////////////////////////////////////////////////////

    $("#loginForm").submit(function (event) {
    event.preventDefault();

    //  get email and pw from form fields
    var email = $("#emailLogin").val();
    var password = $("#passwordLogin").val();
    var loginData = {
      email: email,
      password: password,
    };

    $.ajax({
      type: "POST",
      url: "http://localhost:8080/user/login",
      data: JSON.stringify(loginData),
      contentType: "application/json",
      success: function (response) {
        if (response) {

          // COOKIEERSTELLUNG - Benutzer wird so gehalten
          var expireDate = new Date();
          expireDate.setDate(expireDate.getDate() + 7);
          document.cookie =
            "loggedIn=true; expires=" +
            expireDate.toUTCString() +
            "; path=/";
          console.log("erfolgreich angemeldet");
          window.alert("Erfolgreich angemeldet.");
          window.location.href = "Warenkorb.html";

        } else {
          console.log("Login failed", response);
            window.alert("Anmeldung fehlgeschlagen.");

        }
      },
      error: function (error) {
        console.error("Error during login:", error);
          window.alert("Anmeldung fehlgeschlagen.");

      },
    });
  });

  $("#logoutButton").click(function () {
    // Cookie wird gelöscht
    document.cookie =
      "loggedIn=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
    console.log("Benutzer abgemeldet");
      window.alert("Benutzer abgemeldet.");

  });
});

</script>
<script>
  document
    .getElementById("registrationButton")
    .addEventListener("click", function () {
      window.location.href = "Anmeldeformular.html";
    });
</script>
