
    <button type="button" class="button-menu" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
       
      </button>
  

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">TOFU</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

      <div class="nav-bar-phone">
      <a href="homepage.html">
        <img class="nav-link" height="50px" src="images/logo-gif.gif"/></a>
      </div>
      <div class="container-phone">

      <div class="nav-phone">
       <a href="homepage.html">Gallerie</a>
      </div>
      <div class="nav-phone">
        <a href="homepage.html">Shop</a>
       </div>
       <div class="nav-phone">
        <a href="homepage.html">Über&nbsp;Tofu</a>
       </div>
       <div class="log-in-phone">
       <form action="/action_page.php">
       <div class="username"> <input type="text" placeholder="Username" name="username" /> </div>
       <div class="text"> <input type="text" placeholder="Password" name="psw" /> </div>
        <div class="submit"><button type="submit">Login</button> </div>
      </form>
       </div>
      </div>


      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
    </div>
  </div>
</div>
</div>

  
