<nav>
  <div class="ban">
    <div class="banner">
      <a href="homepage.html"
        ><img class="nav-link" height="50px" src="logo-gif.gif"
      /></a>
      <ul class="bannerList">
        <li class="nav-link">
          <a class="nav" href="homepage.html">Tofu</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="homepage.html">Shop</a>
        </li>
        <li class="nav-link">
          <a class="nav" href="homepage.html">Über&nbsp;Tofu</a>
        </li>

        <li class="nav-link">
          <div class="nav-container">
            <div class="login-container">
              <form action="/action_page.php">
                <input type="text" placeholder="Username" name="username" />
                <input type="text" placeholder="Password" name="psw" />
                <button type="submit">Login</button>
              </form>
            </div>
            <div class="register-container">
              <form action="/Anmeldeformular.html">
                <button type="link">Registrierung</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
